<div class="form-container">
  <form action="/thoughts" method="post">
    {% if validation_error ~= nil then %}
    <div class="error">
      {%& validation_error %} Please be sure to provide <i>something</i> to get off your shoulders.
    </div>
    {% end %}
    <div class="input">
      <label for="text">Get it off your shoulders ...</label>
      <input id="text" name="text" type="text" />
    </div>
    <div class="input">
      <label for="antidote">(optional) Be positive, and write down how you would actually like to think</label>
      <input id="antidote" name="antidote" type="text" />
    </div>
    <div class="actions">
      <button type="submit">Send it to the <i>aether</i></button>
    </div>
  </form>
</div>