{% function block.title() %}
The unknown
{% end %}

{% function block.layout_content() %}
<div style="padding: 20px; background: white; text-align: center;">
    <h1> hemm... there's nothing to see here</h1>
    <p><a href="/">Go back to safety</a></p>
</div>
{% end %}

{% render('layout') %}