{% function block.layout_content() %}
  <div class="navbar">
    <div class="title">aether</div>
    <a href="/">Go back</a>
  </div>

  <main style="background-color: white; width: 100%; margin-top: 15px;">
    <div style="padding: 20px; ">
      <h2><i>aether</i></h2>

      <p>
        I made <i>aether</i>
        because I wanted a place where I could just dump stuff. Take stuff off my chest so to say.
      </p>

      I wanted a format like mastodon, but without comments, without people and likes and retoots. In short, I wanted a place that could receive my thoughts without judgement and then digest and delete them, all in precious anonimity. 

      Hopefully this can be useful to you as well if you ever need a place to vent.

      This project is open source, the code can be found here. 

      I struggle with making UIs so if you like to work on design and feel up to design shoot me an email to see if we can improve the design of this site!
    </div>
  </main>
{% end %}

{% render('layout') %}
