<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="apple-touch-icon" sizes="180x180" href="/static/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/icons/favicon-16x16.png">
    <link rel='shortcut icon' href='/static/icons/favicon.ico'>
    <link rel="manifest" href="/static/icons/site.webmanifest">
    
    {% function block.title() %}Aether{% end %}
    <title>{% block.title() %}</title>

    <link rel="stylesheet" href="/static/app.css" />
</head>

<body class="bg-white antialiased">
    {% function block.layout_content() %}
    [default layout content]
    {% end %}

    {% block.layout_content() %}
</body>

</html>