<.header>
  New Thoughts
  <:subtitle>Use this form to manage thoughts records in your database.</:subtitle>
</.header>

<.thoughts_form changeset={@changeset} action={~p"/thoughts"} />

<.back navigate={~p"/thoughts"}>Back to thoughts</.back>
