<.simple_form :let={f} for={@changeset} action={@action}>
  <.error :if={@changeset.action}>
    Oops, something went wrong! Please check the errors below.
  </.error>
  <.input field={f[:text]} type="text" label="Text" />
  <.input field={f[:antidote]} type="text" label="Antidote" />
  <.input field={f[:expires_on]} type="datetime-local" label="Expires on" />
  <:actions>
    <.button>Save Thoughts</.button>
  </:actions>
</.simple_form>
