<section class="container">
  <article class="note-card">
    <h2>» Welcome</h2>
    <div class="note-text">Hello, welcome to the <i>aether</i>. This is a place where you can throw whatever it is you want into the void, with the sure knowledge that it will be swallowed up in due time. Every message lives for two days before dissipating into space.</div>
    <div class="note-text" style="margin-bottom: 1.5rem;">Who knows, others might even <i>witness</i> your ejected thoughts as they go on their way.</div>
    <hr/>
    <div class="note-text" style="margin-top: 1.25rem;"><small>Made by <a href="https://meadow.cafe" target="_blank" rel="noopener noreferrer">Meadow</a> | <a href="https://codeberg.org/meadowingc/aether" target="_blank" rel="noopener noreferrer">Source Code</a></small></div>
  </article>
</section>
